* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Cormorant Infant', serif;
}

:root {
  --purple: #897678;
  --light-purple: #cec1c3;
  --green: #94aa6b;
  --light-green: #9cae79;
  --dark-green: #8e9561;
  --orange: #f1a545;
}

.homeWelcome-info-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://user-images.githubusercontent.com/75234502/106777197-624f4380-660a-11eb-9cc2-ef5ed87b60d7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.homeWelcome-info-container--background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 192, 194, 0.5) /* rgba(243, 243, 243,0.5)*/;
}

.homeWelcome-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.homeWelcome-header-container .homeWelcome-header-container_chop {
  display: flex;
  justify-content: center;
  width: 35%;
  /*height: 35%;*/
  min-width: 200px;
  margin-top: 19%;
}

.homeWelcome-header-container .homeWelcome-header-container_chop img {
  /*margin-top: 50px;
  width: 90%;
  height: 90%;*/
  width: 70%;
  height: 100%;
}

.homeWelcome-header-container .homeWelcome-header_slogan {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  font-weight: normal;
}

.homeWelcome-header-container p {
  text-align: center;
  padding: 1%;
  font-family: "Cormorant Infant", serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.homeWelcome-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 375px;
  padding: 10%;
  margin: 15% 0;
  background-color: var(--purple);
  border-radius: 5px;
  border: var(--purple) 10px solid;
  box-shadow: inset 0 0 0 2px var(--green);
}

.homeWelcome-main-container .homeWelcome-main-container_chop {
  display: none;
}

.homeWelcome-main-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeWelcome-main-formSignUp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.homeWelcome-main-container form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.signUpPassword-container, .signUpPasswordConfirm-container, .logInPassword_container {
  position: relative;
}

.signUpPassword-container .passwordBtn-show, .signUpPasswordConfirm-container .passwordBtn-show, .logInPassword_container .passwordBtn-show, .signUpPassword-container .passwordBtn-hide,
.signUpPasswordConfirm-container .passwordBtn-hide,
.logInPassword_container .passwordBtn-hide {
  position: absolute;
  right: 3px;
  top: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 2px 10px;
  background-image: url('https://user-images.githubusercontent.com/75234502/108805261-513c8700-7565-11eb-9d6e-089449670eb9.png');
  background-repeat: no-repeat;
}

.signUpPassword-container .passwordBtn-hide,
.signUpPasswordConfirm-container .passwordBtn-hide, .logInPassword_container .passwordBtn-hide {
  background-image: url('https://user-images.githubusercontent.com/75234502/108807095-1dfbf700-7569-11eb-90ca-659af09d8e00.png');
}

.homeWelcome-main-container label,
.homeWelcome-main-container p {
  font-family: "Cormorant Infant", serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2%;
}

.homeWelcome-main-container label {
  align-self: flex-start;
}

.homeWelcome-main-container input {
  width: 200px;
  height: 20px;
  margin-bottom: 5px;
  background-color: var(--light-purple);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-form button {
  align-self: center;
  width: 90px;
  margin-top: 5%;
  font-family: "Cookie", cursive;
  font-size: 1.6rem;
  background-color: var(--light-green);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-form .signUpButton {
  align-self: center;
  width: 100px;
  height: 25px;
  margin: 5%;
  background-color: var(--green);
  font-family: 'Cookie', cursive;
  font-size: 1.6rem;
}

.homeWelcome-main-form button {
    align-self: center;
    width: 90px;
    height: 25px;
    margin-top: 5%;
    font-family: 'Cookie', cursive;
    font-size: 1.6rem;
    background-color: var(--light-green);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-container button a {
  text-decoration: none;
  font-size: 1.5rem;
}

.homeWelcome-main-container .homeWelcome-main--invitation {
  color: white;
  font-weight: 50;
  font-size: 1.2rem;
}

.homeWelcome-main-formSignUp-container .homeWelcome-main-form .homeWelcome-main--signUp {
  font-family: "Cookie", cursive;
  color: black;
}

.homeWelcome-main--icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  padding: 3%;
}

.homeWelcome-main--icons-container figure {
 width: 25px;
}

.homeWelcome-main--icons-container img {
  width: 25px;
  border-radius: 50px;
  justify-self: flex-end;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main--icons-container figure :hover {
  cursor: pointer;
}

.homeWelcome-main--icons-container p {
  width: 100%;
  margin: 5%;
  text-align: center;
  font-size: 1.5rem;
}

.homeWelcome-main--signUp {
    margin: 5%;
    text-decoration: none;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.3rem;
    color: white;
}

.main-error404 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(206, 192, 194, 0.5);
}

.main-error404-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%;
    width: 80%;
}

.main-error404-icon img {
    width: 60%;
    max-width: 300px;
    height: 100%;
    justify-self: center;
}

.main-error404 p {
    width: 60%;
    align-self: center;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Cookie', cursive;
    font-size: 7rem;
    color: var(--purple);
}

.error--message{
  color: var(--dark-green);
}

.error-message_container {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-weight: normal;
  width: 100%;
}

.error-message_container figure {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.error-message_container figure img {
  width: 100%;
  height: 100%;
}

.error-message_container p {
  width: 90%;
  margin: 10px;
}


/*home*/

.home-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-image: url("https://user-images.githubusercontent.com/75234502/108612981-dcc1e680-73b2-11eb-9b0f-86d4f3bfce19.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243,0.7);
}

.header-nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110px;
  margin: 10px;
}

.header-nav_iconChop, .header-nav_profileImg {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}

.header-nav_iconChop {
  width: 80px;
  height: 80px;
}

.header-nav_iconChop img, .header-nav_profileImg img {
  width: 100%;
  filter: drop-shadow(0px 0px 30px rgb(233, 166, 21));
}

.header-nav_profileImg img {
  width: 100%;
  height: 100%;
  clip-path: circle(50%);
  box-shadow: 5px 5px 10px var(--purple);
}

.header-nav_iconChop img:hover {
  cursor: pointer;
}

.header-nav_menuIcon, .header-profile-nav_menuIcon {
  width: 35px;
  height: 35px;
  align-self: center;
}

.header-nav_iconChop {
  width: 80px;
}

.header-nav_iconChop img {
  margin: 10px;
}

.header-nav_profileImg img:hover {
  cursor: pointer;
}

.header_profileInfo_container p {
  display: none;
}

/*Perfil*/

.profile-header {
  position: absolute;
  width: 100%;
  height: 25%;
  background-image: url("https://user-images.githubusercontent.com/75234502/108612981-dcc1e680-73b2-11eb-9b0f-86d4f3bfce19.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-header nav {
  width: 100%;
  height: 100%;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 40%;
}

.header-nav_menuIcon-container, .header-profile-nav_iconChop {
  align-self: center;
  margin: 0 10px;
}

.header-profile-nav_iconChop {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
}

.header-profile-nav_iconChop img {
  width: 100%;
  filter: drop-shadow(0px 0px 30px rgb(233, 166, 21));
  margin-top: 20px;
}

.header-profile-nav_iconChop :hover {
  cursor: pointer;
}

.header-profile-nav_menuIcon-container {
  margin: 10px;
  margin-top: 20px;
}

.header-profile-nav_menuIcon {
  width: 30px;
  height: 30px;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%; /*250px*/
  height: 450px; /*250px*/
}

.header-profileImg {
  display: flex;
  width: 250px;
  height: 250px;
  margin-left: 100px;
}

.header-profileImg img {
  align-self: center;
  width: 60%;
  height: 60%;
  clip-path: circle(50%);
}

.header-profile h2, .header-profile h3 {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 3.5rem;
  font-weight: normal;
}

.header-profile h3 {
  width: 100%;
  text-align: center;
  font-family: 'Cormorant Infant', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.header-profile p {
  width: 70%;
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.header-profileImg .header-profile_editProfile {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin-bottom: 50px;
}

.logInGoogleButton :hover {
  cursor: pointer;
}

.header-nav_menuIcon-container :hover {
  cursor: pointer;
}

.header-profile-nav_menuIcon-container {
  cursor: pointer;
}

.disable-menu-desplegable, .disable-menu-desplegable-profile, .disable-menu-desplegable-favorite {
  display: none;
}

.enable-menu-desplegable, .enable-menu-desplegable-profile, .enable-menu-desplegable-favorite {
  display: block;
  position: absolute;
  right: 1px;
  top: 120px;
  flex-direction: column;
  align-content: center;
  max-width: 35%;
  width: 110px;
  height: 100px;
}

.enable-menu-desplegable-favorite {
  top: 140px;
}

.enable-menu-desplegable-profile {
  right: 5px;
  top: 70px;
}

.enable-menu-desplegable ul, .enable-menu-desplegable-profile ul, .enable-menu-desplegable-favorite ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

.enable-menu-desplegable ul li, .enable-menu-desplegable-profile ul li, .enable-menu-desplegable-favorite ul li {
  height: 30px;
  text-align: center;
  background-color: white;
  font-size: 2rem;
  font-family: 'Cormorant Infant', serif;
  border: .4px solid var(--light-purple);
  border-radius: 2px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.enable-menu-desplegable ul li a, .enable-menu-desplegable-profile ul li a, .enable-menu-desplegable-favorite ul li a {
  text-decoration: none;
}

.enable-menu-desplegable ul li:hover, .enable-menu-desplegable-profile ul li:hover, .enable-menu-desplegable-favorite ul li:hover{
  background: var(--light-purple);
}

.enable-menu-desplegable ul li:active, .enable-menu-desplegable-profile ul li:active, .enable-menu-desplegable-favorite ul li:active {
  background-color: var(--purple);
}

.signOut:hover {
  cursor: pointer;
}

/*Modales*/

.homeWelcome-modal_container, .postModal_container {
  display: none;
  position: fixed;
  padding-top: 300px; /*posición de la caja central*/
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Evita scroll */
  background-color: rgba(0,0,0,0.4); /* Opacidad fondo */
}

.postModal_container {
  padding-top: 0;
}

.homeWelcome-modal, .postModalInfo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple);
  margin: auto;
  padding: 0;
  width: 350px;
  height: 300px;
  font-size: 1.8rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.homeWelcome-modal img {
  width: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.homeWelcome-modal_msg {
  display: flex;
  position: absolute;
  /* considerar cambio para desktop*/
  flex-direction: column;
  top: 60px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 3px solid var(--purple);
  width: 90%;
  height: 70%;
}

.homeWelcome-modal .close {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 20px;
  color: #aaaaaa;
  /*float: right;*/
}

.homeWelcome-modal .close img{
  width: 100%;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.modal-msg {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.modal-msg p {
  padding: 10px;
}

.modal-msg button, .homeWelcome-modal_msg button {
  width: 60px;
  height: 30px;
  border-color: var(--purple);
  border-radius: 5px;
  background-color: var(--light-purple);
}

.homeWelcome-modal_msg .imgLoad {
  align-self: center;
  margin: 5px;
}

.homeWelcome-modal_msg input {
  margin: 5px;
}

.postModalInfo {
  width: 400px;
  height: 500px;
  border-radius: 5px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 90%;
  padding: 10px;
  background-color: white;
}

.userInfoPost {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15%;
}

.userInfoPost img {
  width: 45px;
  height: 45px;
  clip-path: circle(50%);
  /*border-radius: 50%;*/
  margin-right: 20px;
}

.userInfoPost p {
  font-family: 'Cookie', cursive;
  font-size: 2rem;
}

.post_recipie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  padding: 10px;
}

.post_recipie figure {
  display: flex;
  width: 80%;
  height: auto;
  justify-self: center;
  justify-content: center;
}

.post_recipie figure img {
  width: 40%;
  height: auto;
  margin: 10px;
  font-size: 1.5rem;
}

.post_recipie input {
  width: 100%;
  height: 40px;
}

.post textarea {
  width: 100%;
  height: 80%;
  border: none;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.post textarea:focus {
  outline: 0 none;
}

.post_recipie form {
  display: flex;
  flex-direction: column;
}

.post_recipie button {
  align-self: flex-end;
  background-color: var(--green);
  width: 70px;
  height: 30px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  font-family: 'Cormorant Infant', serif;
  font-weight: bold;
}

.post button :hover {
  cursor: pointer;
}

.userInfoPost .close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
}

.userInfoPost .close img {
  width: 100%;
  height: 20px;
  margin: 0;
}

/*Mensaje para editar perfil*/
.editMsg {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.editMsg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.editMsg figure img {
  width: 50px;
  align-self: center;
}

.editMsg p {
  text-align: center;
}

.header-profile_editProfile {
  cursor: pointer;
}

body {
  background-color: #fbf9f9;
}

.main-createPost {
  position: absolute;
  top: 95%;
  left: calc(50% - 150px);
  right: calc(50% - 150px);
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: white;*/
  background-color: var(--light-purple);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-createPost input {
  width: 70%;
  height: 65%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.main-createPost figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
  height: 100%;
  margin: 0 auto;
}

.main-createPost figure img {
  height: 80%;
}

/* Post */
.home-post-container, .profile-post-container, .favorite-post-container {
  position: absolute;
  top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.favorite-post-container {
  top: 400px;
}

.profile-post-container {
  top: 650px;
  background-color: /*rgb(255, 255, 255)*/#F4F4F4;
}

.postHome-container {
  width: 90%;
  /*height: 330px; 280px;*/
  height: auto;
  background-color: /*rgb(255, 255, 255)*/#F4F4F4;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.post-userInfo-container, .postProfile-userInfo-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.postProfile-userInfo-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-profile-btn-container {
  width: 50px;
  height: 100%;
  margin: 10px;
  justify-content: space-between;
}

.post-userInfo-container figure, .postProfile-userInfo-container figure {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-userInfo-container figure img, .postProfile-userInfo-container figure img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin: 0;
}

.post-userInfo-container p, .postProfile-userInfo-container p {
  font-size: 1.7rem;
  font-weight: bold;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: relative;
  transition: all 1s ease;
  transform: perspective(400px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}

.post-container-turn {
  transform-origin: 100% 50%;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: relative;
  transform: perspective(400px) rotateY(-180deg) translateX(100%);
  transform-style: preserve-3d;
}

.post-container .view-1,  .post-container .view-2, .post-container-turn .view-1, .post-container-turn .view-2 {
  position: absolute;
  backface-visibility: hidden;
}

.post-container .view-1, .post-container .view-2, .post-container-turn .view-2, .post-container-turn .view-1 {
  width: 90%;
  height: 200px;
}

.post-container .view-2, .post-container-turn .view-2 {
  transform: rotateY(-180deg);
}

.post-container p, .post-container-turn p {
  width: 90%;
  height: 90%;
  border: none;
  padding: 20px;
  font-size: 1.7rem;
  font-weight: bolder;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(253, 252, 252);
}

.post-interaction-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.post-interaction-container .date {
  margin: 20px;
  font-size: 2rem;
}

.post-icons-container {
  display: flex;
  display: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 10px;
}

.post-comments-container, .post-comments-container_add, .post-FirstComment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  align-items: center;
  hyphens: auto;
}

.post-comments-info-container {
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.post-comments-container_add, .post-indComment-container, .post-firstIndComment-container {
  display: none;
  width: 100%;
  height: 50%;
  align-items: center;
  hyphens: auto; /* Ajusta el texto al contenedor*/
}

.post-indComment-container, .post-comments-info-container, .post-firstIndComment-container {
  display: flex;
  flex-direction: row;
}

.post-FirstComment-container, .post-comments-info-container {
  width: 100%;
}

.post-comments-container figure, .post-comments-container_add figure {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.post-comments-container figure img, .post-comments-container_add figure img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.post-comments-container textarea, .post-comments-container_add textarea {
  width: 80%;
  height: 20px;
  margin: 0 auto;
  border: none;
}

.post-indComment-container .post-comment, .post-firstIndComment-container .post-comment {
  width: 80%;
  height: 20px;
  font-size: 1.6rem;
  font-weight: bolder;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(253, 252, 252);
}

.post-lessComments {
  display: none;
}

.post-FirstComment-container .post-moreComments, .post-lessComments {
  align-self: flex-end;
  margin: 5px 30px 10px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #b4a8aa;
}

.post-moreComments:hover, .post-lessComments:hover {
  cursor: pointer;
}

.post-icons-container figure {
  width: 17px;
  height: 17px;
  margin: 5px;
}

.post-icons-container figure img {
  width: 100%;
  height: 100%;
}

.post-icons-container p {
  font-size: 1.7rem;
}

.post-container textarea {
  background-color: white;
}

.postProfile-userInfo-container {
  justify-content: space-between;
  margin: 5px;
}

.postProfile-userInfo-container img {
  width: 20px;
  height: 20px;
  align-self: center;
}

.post-profile-btn-container :hover, .post-icons-container figure img {
  cursor: pointer;
}

.favoriteMsg-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-color: var(--green);
  border-radius: 5px;
  border: var(--green) 10px solid;
  box-shadow: inset 0 0 0 3px var(--dark-green);
}

.favoriteMsg-container p {
  font-family: 'Cookie', cursive;
  font-size: 3rem;
  margin: 0 0 10px 0;
}

.favoriteMsg-container figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 50%;
}

.favoriteMsg-container img {
  width: 100%;
  height: 100%;
  margin: 10px;
}