* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Cormorant Infant', serif;
}

:root {
  --purple: #897678;
  --light-purple: #cec1c3;
  --green: #94aa6b;
  --light-green: #9cae79;
  --dark-green: #8e9561;
  --orange: #f1a545;
}

.homeWelcome-info-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://user-images.githubusercontent.com/75234502/106777197-624f4380-660a-11eb-9cc2-ef5ed87b60d7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.homeWelcome-info-container--background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 192, 194, 0.5) /* rgba(243, 243, 243,0.5)*/;
}

.homeWelcome-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.homeWelcome-header-container .homeWelcome-header-container_chop {
  display: flex;
  justify-content: center;
  width: 35%;
  /*height: 35%;*/
  min-width: 200px;
  margin-top: 19%;
}

.homeWelcome-header-container .homeWelcome-header-container_chop img {
  /*margin-top: 50px;
  width: 90%;
  height: 90%;*/
  width: 70%;
  height: 100%;
}

.homeWelcome-header-container .homeWelcome-header_slogan {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  font-weight: normal;
}

.homeWelcome-header-container p {
  text-align: center;
  padding: 1%;
  font-family: "Cormorant Infant", serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.homeWelcome-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 375px;
  padding: 10%;
  margin: 15% 0;
  background-color: var(--purple);
  border-radius: 5px;
  border: var(--purple) 10px solid;
  box-shadow: inset 0 0 0 2px var(--green);
}

.homeWelcome-main-container .homeWelcome-main-container_chop {
  display: none;
}

.homeWelcome-main-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeWelcome-main-formSignUp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.homeWelcome-main-container form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.signUpPassword-container, .signUpPasswordConfirm-container {
  position: relative;
}

.signUpPassword-container span, .signUpPasswordConfirm-container span {
  position: absolute;
  right: 3px;
  top: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 2px 10px;
  background-image: url('https://user-images.githubusercontent.com/75234502/108805261-513c8700-7565-11eb-9d6e-089449670eb9.png');
  background-repeat: no-repeat;
}

.signUpPassword-container .hide {
  background-image: url('https://user-images.githubusercontent.com/75234502/108807095-1dfbf700-7569-11eb-90ca-659af09d8e00.png');
}

.homeWelcome-main-container label,
.homeWelcome-main-container p {
  font-family: "Cormorant Infant", serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2%;
}

.homeWelcome-main-container label {
  align-self: flex-start;
}

.homeWelcome-main-container input {
  width: 200px;
  height: 20px;
  margin-bottom: 5px;
  background-color: var(--light-purple);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-form button {
  align-self: center;
  width: 90px;
  margin-top: 5%;
  font-family: "Cookie", cursive;
  font-size: 1.6rem;
  background-color: var(--light-green);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-form .signUpButton {
  align-self: center;
  width: 100px;
  height: 25px;
  margin: 5%;
  background-color: var(--green);
  font-family: 'Cookie', cursive;
  font-size: 1.6rem;
}

.homeWelcome-main-form button {
    align-self: center;
    width: 90px;
    height: 25px;
    margin-top: 5%;
    font-family: 'Cookie', cursive;
    font-size: 1.6rem;
    background-color: var(--light-green);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main-container button a {
  text-decoration: none;
  font-size: 1.5rem;
}

.homeWelcome-main-container .homeWelcome-main--invitation {
  color: white;
  font-weight: 50;
  font-size: 1.2rem;
}

.homeWelcome-main-formSignUp-container .homeWelcome-main-form .homeWelcome-main--signUp {
  font-family: "Cookie", cursive;
  color: black;
}

.homeWelcome-main--icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  padding: 3%;
}

.homeWelcome-main--icons-container figure {
 width: 50px;
}

.homeWelcome-main--icons-container img {
  width: 25px;
  border-radius: 50px;
  justify-self: flex-end;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.homeWelcome-main--icons-container figure :hover {
  cursor: pointer;
}

.homeWelcome-main--icons-container p {
  width: 100%;
  margin: 5%;
  text-align: center;
  font-size: 1.5rem;
}

.homeWelcome-main--signUp {
    margin: 5%;
    text-decoration: none;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.3rem;
    color: white;
}

.main-error404 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(206, 192, 194, 0.5);
}

.main-error404-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%;
    width: 80%;
}

.main-error404-icon img {
    width: 60%;
    max-width: 300px;
    height: 100%;
    justify-self: center;
}

.main-error404 p {
    width: 60%;
    align-self: center;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Cookie', cursive;
    font-size: 7rem;
    color: var(--purple);
}

.error--message{
  color: var(--dark-green);
}

.error-message_container {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-weight: normal;
  width: 100%;
}

.error-message_container figure {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.error-message_container figure img {
  width: 100%;
  height: 100%;
}

.error-message_container p {
  width: 90%;
  margin: 10px;
}


/*home*/

.home-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-image: url("https://user-images.githubusercontent.com/75234502/108612981-dcc1e680-73b2-11eb-9b0f-86d4f3bfce19.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243,0.7);
}

.header-nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110px;
  margin: 10px;
}

.header-nav_iconChop, .header-nav_profileImg {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}

.header-nav_iconChop img, .header-nav_profileImg img {
  width: 100%;
}

.header-nav_profileImg img {
  border-radius: 50px;
  box-shadow: 5px 5px 10px var(--purple);
}

.header-nav_iconChop img:hover {
  cursor: pointer;
}

.header-nav_menuIcon, .header-profile-nav_menuIcon {
  width: 35px;
  height: 35px;
  align-self: center;
}

.header-nav_iconChop {
  width: 80px;
}

.header-nav_iconChop img {
  margin: 10px;
}

.header-nav_profileImg img:hover {
  cursor: pointer;
}

.header_profileInfo_container p {
  display: none;
}

/*Perfil*/

.profile-header {
  position: absolute;
  width: 100%;
  height: 25%;
  background-image: url("https://user-images.githubusercontent.com/75234502/108612981-dcc1e680-73b2-11eb-9b0f-86d4f3bfce19.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-header nav {
  width: 100%;
  height: 100%;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 30%;
}

.header-nav_menuIcon-container, .header-profile-nav_iconChop {
  align-self: center;
  margin: 0 10px;
}

.header-profile-nav_iconChop {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}

.header-profile-nav_iconChop img {
  width: 100%;
}

.header-profile-nav_iconChop :hover {
  cursor: pointer;
}

.header-profile-nav_menuIcon-container {
  margin: 10px;
}

.header-profile-nav_menuIcon {
  width: 30px;
  height: 30px;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%; /*250px*/
  height: 450px; /*250px*/
}

.header-profileImg {
  display: flex;
  width: 250px;
  height: 250px;
  margin-left: 60px;
}

.header-profileImg img {
  align-self: center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.header-profile h2, .header-profile h3 {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 3.5rem;
  font-weight: normal;
}

.header-profile h3 {
  width: 100%;
  text-align: center;
  font-family: 'Cormorant Infant', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.header-profile p {
  width: 70%;
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.header-profileImg .header-profile_editProfile {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin-bottom: 50px;
}

.logInGoogleButton :hover {
  cursor: pointer;
}

.header-nav_menuIcon-container :hover {
  cursor: pointer;
}

.header-profile-nav_menuIcon-container {
  cursor: pointer;
}

.disable-menu-desplegable, .disable-menu-desplegable-profile {
  display: none;
}

.enable-menu-desplegable, .enable-menu-desplegable-profile {
  display: block;
  position: absolute;
  right: 1px;
  top: 100px;
  flex-direction: column;
  align-content: center;
  max-width: 35%;
  width: 150px;
  height: 200px;
}

.enable-menu-desplegable-profile {
  right: 5px;
  top: 50px;
}

.enable-menu-desplegable ul, .enable-menu-desplegable-profile ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

.enable-menu-desplegable ul li, .enable-menu-desplegable-profile ul li {
  height: 30px;
  text-align: center;
  background-color: white;
  font-size: 2rem;
  font-family: 'Cormorant Infant', serif;
  border: .4px solid var(--light-purple);
  border-radius: 2px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.enable-menu-desplegable ul li a, .enable-menu-desplegable-profile ul li a {
  text-decoration: none;
}

.enable-menu-desplegable ul li:hover {
  background: var(--light-purple);
}

.enable-menu-desplegable ul li:active {
  background-color: var(--purple);
}

.enable-menu-desplegable-profile ul li:hover {
  background: var(--light-purple);
}

.enable-menu-desplegable-profile ul li:active {
  background-color: var(--purple);
}

/*
.error--message{
  display:none;
  color: #c26c6c;
}

#error-verificacion{
  display: none;
  color:#c26c6c;
}*/

.homeWelcome-modal_container {
  display: none;
  position: fixed;
  padding-top: 300px; /*posición de la caja central*/
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Evita scroll */
  background-color: rgba(0,0,0,0.4); /* Opacidad fondo */
}

.homeWelcome-modal {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple);
  margin: auto;
  padding: 0;
  width: 350px;
  height: 300px;
  font-size: 1.8rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

.homeWelcome-modal img {
  width: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.homeWelcome-modal_msg {
  display: flex;
  position: absolute;
  /* considerar cambio para desktop*/
  flex-direction: column;
  top: 60px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 3px solid var(--purple);
  width: 90%;
  height: 70%;
}

.homeWelcome-modal .close {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 20px;
  color: #aaaaaa;
  /*float: right;*/
}

.homeWelcome-modal .close img{
  width: 100%;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.modal-msg {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.modal-msg p {
  padding: 10px;
}

.modal-msg button, .homeWelcome-modal_msg button {
  width: 60px;
  height: 30px;
  border-color: var(--purple);
  border-radius: 5px;
  background-color: var(--light-purple);
}

.homeWelcome-modal_msg .imgLoad {
  align-self: center;
  margin: 5px;
}

.homeWelcome-modal_msg input {
  margin: 5px;
}

.editMsg {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-verificacion {
  display: none;
  color: #c26c6c;
}

.user-info {
	background-color: #eee;
  font-size: 1.5rem;
	border-radius: 20px;
	margin: 10px;
	padding: 20px;
	text-align: center;
  border: 2px solid var(--green);
}

.user-info .nameProfile {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

.user-info figure img {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	text-align: center;
}

.user-posts{
  font-size: 1.5rem;
  margin-top: 0%;
  border-radius: 20px;
	margin: 10px;
  margin-top: -25px;
	padding: 20px;
  align-items: center;
}

.header-profile_editProfile {
  cursor: pointer;
}
